<div class = "row" >
  <div class="col-2">
    <%= render partial: "layouts/sidebar", locals: { categories: @categories, elements: @elements } %>
  </div>
  <div class = "col-9">
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title"><%= @post.title %>
        </h5>
        <hr>
        <div class="card-title">
          <%= simple_format(@post.content.html_safe) %>
        </div>
      </div>
    </div>
  </div>
</div>
