// #色は適当です。
.mu{
  background-color: grey;
}
.buturi{
  background-color: black;
}
.raiden{
  background-color: darkblue;
}
.shakunetu{
  background-color: red;
}
.hyousou{
  background-color: lightblue;
}
.dokuso{
  background-color: green;
}
.inou{
  background-color: purple;
}