

body {
  margin: 0;
  font-size: .9rem;
  font-weight: 400;
  line-height: 1.6;
  color: #212529;
  text-align: left;
  background-color: #f8fafc
}

main {
  min-height: calc(100vh - 180px);
  overflow: hidden; 
  padding-top: 60px;
}

header {
  height: 60px;
}

footer {
  background: lightgray;
  height: 60px;
}

.dateclass {
  display: inline-block;
  width: auto;
}

.weapon-hr{
border:none;
border-top:dashed 1px #FF0000;
width:95%;
}
